
<% content_for :title, "Questions | StackOverflow" %>

<h1>StackOverflow</h1>

<ul class="lead list-unstyled">
  <% @questions.each do |question| %>
    <li><%= link_to question.inquiry, question_path(question) %></li>
  <% end %>
</ul>