<h1><%= @user.username %></h1>

<h4>Questions asked</h4>

<ul class='lead list-unstyled'>
  <% @questions.each do |question| %>
    <li><%= link_to question.inquiry, question_path(question) %></li>
  <% end %>
</ul>

<h4>Questions answered</h4>

<ul class='lead list-unstyled'>
  <% @comments.each do |comment| %>
    <li><%= link_to comment.question.inquiry %> - <%= comment.answer %></li>
  <% end %>
</ul>